@model AdminPanel.Models.Admins.AdminsIndexVM
@{
    ViewData["Title"] = "Admins List";
    Layout = "_Layout";
}

@if (!string.IsNullOrEmpty(Model.Error))
{
    <!--Error message-->
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>@Model.Error
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

@if (!string.IsNullOrEmpty(Model.Message))
{
    <!--Success message-->
    <div class="row">
        <div class="col-lg-12">
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                <i class="fa fa-exclamation-circle me-2"></i>@Model.Message
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    </div>
}

<!-- Admins Table Start -->
<div class="container-fluid pt-4 px-4">
    <div class="bg-light text-center rounded p-4">
        <div class="d-flex align-items-center justify-content-between mb-4">
            <h6 class="mb-0">Admins</h6>
        </div>
        <div class="table-responsive">
            <table id="adminTable" class="table text-start align-middle table-bordered table-hover mb-0">
                <thead>
                    <tr class="text-dark">
                        <th scope="col"></th>
                        <th scope="col">Id</th>
                        <th scope="col">Status</th>
                        <th scope="col">Email</th>
                        <th scope="col">Password</th>
                        <th scope="col">First Name</th>
                        <th scope="col">Last Name</th>
                        <th scope="col">DOB</th>
                        <th scope="col">Gender</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var admin in Model.Admins)
                    {
                        <tr>
                            <td>
                                @if (string.IsNullOrEmpty(admin.ProfilePhotoName))
                                {
                                    <img class="rounded-circle me-lg-2" src="~/DASHMIN/img/profile-avatar.png" alt="admin profile photo" style="width: 30px; height: 30px;">
                                }
                                else
                                {
                                    <img class="rounded-circle me-lg-2" src="~/DASHMIN/Admins/ProfilePhotos/@admin.ProfilePhotoName" alt="admin profile photo" style="width: 30px; height: 30px;">
                                }
                            </td>
                            <td>@admin.Id</td>
                            @foreach (var status in Model.AdminStatuses)
                            {
                                if (status.Id == admin.StatusId)
                                {
                                    <td>@status.Name</td>
                                }
                            } 
                            <td>@admin.Email</td>
                            <td>**********</td>
                            <td>@admin.FirstName</td>
                            <td>@admin.LastName</td>
                            <td>@admin.DOB.GetValueOrDefault().Date.ToString("yyyy-MM-dd")</td>
                            <td>@admin.Gender</td>
                            <td>
                                <a class="btn btn-sm btn-primary" href="/Admins/Details?id=@admin.Id">Detail</a>
                                @if (this.Context.Session.GetInt32("StatusId") == 1)
                                {
                                    <a class="btn btn-sm btn-warning" href="/Admins/Edit?id=@admin.Id">Edit</a>
                                    if (Model.Admins.Count() > 1)
                                    {
                                         <a class="btn btn-sm btn-danger" href="/Admins/Delete?id=@admin.Id">Delete</a>
                                    }
                                }
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<!-- Admins Table Start End -->
